.box{width: 100vw;height: 100vh;padding-top:25vh ; background-position: center;background-size: 100% 100%; background-image: url(../img/bg.jpg);}
h1{text-align: center;color: #F0AD4E;margin:40px 20px;}
.form{width: 300px;margin:auto;}
.input-group{margin: 10px 0;}
.input-group input{width: 250px;height: 30px;padding-left: 10px;}
.input-group:nth-child(3){text-align: center;}
.input-group:nth-child(3) input{width: 100px;height: 35px;cursor: pointer;margin:10px 50px 0 0;}